


<div ng-app="myApp" ng-controller="moviesCtrl">


    <br />
    <div>
        <br />

        <div style="text-align:center;">
            <span style="color:azure;">הצג סרטים לפי קטגוריה</span>
            <select ng-model="currentCategory" style="color:aqua">
                <option ng-repeat="x in categoris">{{x}}</option>
            </select>
        </div>
        <br />

        <div id="container">

            <table class="table">

                <tr>
                    <td><button ng-click="sortBy('Picture')">Picture      <img ng-src="~/Content/Images/{{sortDirection}}.ico" ng-if="selected == 'Picture'" /></button></td>
                    <td><button ng-click="sortBy('MovieName')">MovieName   <img ng-src="~/Content/Images/{{sortDirection}}.ico" ng-if="selected == 'MovieName'" /> </button></td>
                    <td><button ng-click="sortBy('CategoryName')">Category  <img ng-src="~/Content/Images/{{sortDirection}}.ico" ng-if="selected == 'Category'" />   </button></td>
                    <td><button ng-click="sortBy('NumberOfViews')">Number Of Views  <img ng-src="~/Content/Images/{{sortDirection}}.ico" ng-if="selected == 'NumberOfViews'" />   </button></td>
                    <td><button ng-click="sortBy('Ranking')">Ranking  <img ng-src="~/Content/Images/{{sortDirection}}.ico" ng-if="selected == 'Ranking'" />   </button></td>
                    <td><button>MovieTrailer</button></td>
                    <td><button ng-click="sortBy('Level')">Price<img ng-src="~/Content/Images/{{sortDirection}}.ico" ng-if="selected == 'Price'" /></button></td>
                    <td><button>Rent</button> </td>
                </tr>
                <tr ng-repeat="m in movies|filter:CategoryName=currentCategory |orderBy:orderByField">

                    <td style="height:120px">
                        <a class="hideDisplay">
                            <img ng-src="~/Content/Images/{{m.Picture}}" style="height:170px; width:170px" alt="symbol" />
                            <span class="showDisplayOnHover">
                                תקציר:
                                <span class="showBodyOfDisplayOnHover">
                                    {{m.Summary}}
                                </span>
                            </span>
                        </a>
                    </td>

                    <td>{{m.MovieName}}</td>
                    <td>{{m.CategoryName}}</td>
                    <td>{{m.NumberOfViews}}</td>
                    <td>
                        <div class="Stars">
                            <span style="width:{{m.Ranking * 20}}px"></span>
                        </div>
                    </td>

                    <td>
                        <div>
                            <iframe type="text/html" width="175" height="175"
                                    ng-src="{{trustSrc(m.MovieTrailer)}}" allowfullscreen frameborder="0"></iframe>
                        </div>
                    </td>

                    <td>{{m.Level|currency:"₪"}}</td>
                    <td><a href="/Movie/ClientChoice?movieID={{m.MovieID}}">For rente</a></td>
                </tr>
            </table>
        </div>


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Coode/moviesByAngular.js"></script>
        <link href="~/Content/Designer/Movies_Home.css" rel="stylesheet" />


    </div>
</div>



